<div ng-controller="CoachCtrl as coach">
  <div>
  	 <img class="img-responsive center-block" src="images/coach/coach_01.jpg" align="middle">
  </div>
  <div>
     <img onmouseover="" style="cursor: pointer;" class="img-responsive center-block"  ng-click="coach.openVideo()" ng-show="!coach.showVideo" src="images/coach/coach_02.jpg" align="middle">
     <div style="max-width: 1020px; margin-left: auto; margin-right: auto;" ng-click="coach.turnOnOffVideo()" ng-show="coach.showVideo" ng-leave="coach.turnOffVideo()" class="embed-responsive embed-responsive-16by9">
        <video id="coach_video" class="embed-responsive-item">
          <source src="videos/哈哈学车产品宣传片.mp4" type="video/mp4">
        </video>   
     </div>
  </div>
  <div>
   	 <img class="img-responsive center-block" src="images/coach/coach_03.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/coach/coach_04.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/coach/coach_05.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/coach/coach_06.jpg" align="middle">
  </div>
</div>