<div ng-controller="CoachCtrl as coach">
  <div>
  	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_01.jpg" align="middle">
  </div>
  <div>
     <img onmouseover="" style="cursor: pointer;" class="img-responsive center-block"  ng-click="coach.openVideo()" ng-show="!coach.showVideo" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_02.jpg" align="middle">
     <div style="max-width: 1020px; margin-left: auto; margin-right: auto;" ng-click="coach.turnOnOffVideo()" ng-show="coach.showVideo" ng-leave="coach.turnOffVideo()" class="embed-responsive embed-responsive-16by9">
        <video controls id="coach_video" class="embed-responsive-item" style="max-height:700px;">
          <source src="http://haha-web.oss-cn-shanghai.aliyuncs.com/videos/%E5%93%88%E5%93%88%E5%AD%A6%E8%BD%A6%E5%AE%9A%E7%A8%BF.mp4" type="video/mp4">
        </video>   
     </div>
  </div>
  <div>
   	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_03.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_04.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_05.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/coach_06.jpg" align="middle">
  </div>
</div>