<div ng-controller="StudentCtrl as student">
  <div>
  	 <img class="img-responsive center-block" src="images/student/student_01.jpg" align="middle">
  </div>
  <div>
     <img onmouseover="" style="cursor: pointer;" class="img-responsive center-block"  ng-click="student.openVideo()" ng-show="!student.showVideo" src="images/student/student_02.jpg" align="middle">
     <div style="max-width: 1020px; margin-left: auto; margin-right: auto;" ng-click="student.turnOnOffVideo()" ng-show="student.showVideo" ng-leave="student.turnOffVideo()" class="embed-responsive embed-responsive-16by9">
        <video controls id="student_video" class="embed-responsive-item">
          <source src="videos/哈哈学车产品宣传片.mp4" type="video/mp4">
        </video>   
     </div>
  </div>
  <div>
   <img class="img-responsive center-block" src="images/student/student_03.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/student/student_04.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/student/student_05.jpg" align="middle">
	 <img class="img-responsive center-block" src="images/student/student_06.jpg" align="middle">
  </div>
</div>