<div ng-controller="StudentCtrl as student">
  <div>
  	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_01.jpg" align="middle">
  </div>
  <div>
     <img onmouseover="" style="cursor: pointer;" class="img-responsive center-block"  ng-click="student.openVideo()" ng-show="!student.showVideo" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_02.jpg" align="middle">
     <div style="max-width: 1020px; margin-left: auto; margin-right: auto;" ng-click="student.turnOnOffVideo()" ng-show="student.showVideo" ng-leave="student.turnOffVideo()" class="embed-responsive embed-responsive-16by9">
        <video controls id="student_video" class="embed-responsive-item" style="max-height:700px;">
          <source src="http://haha-web.oss-cn-shanghai.aliyuncs.com/videos/%E5%93%88%E5%93%88%E5%AD%A6%E8%BD%A6%E4%BA%A7%E5%93%81%E5%AE%A3%E4%BC%A0%E7%89%87.mp4" type="video/mp4">
        </video>   
     </div>
  </div>
  <div>
   <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_03.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_04.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_05.jpg" align="middle">
	 <img class="img-responsive center-block" src="http://haha-web.oss-cn-shanghai.aliyuncs.com/images/student_06.jpg" align="middle">
  </div>
</div>